/* Add some basic styling */
body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Navigation styling */
nav {
    background-color: #444;
    position: relative;
    height: 50px;
}

.burger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-link {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #555;
}


/* Style the main content area */
main {
    padding: 20px;
}

/* Style the footer */
footer {
    border-radius: 12px;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Style the equipment container */
.equipment-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style the equipment item */
.equipment-item {
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 12px;
    flex-basis: calc(20% - 20px);
    margin: 20px;
    padding: 15px;
    text-align: center;
}
.equipment-item:hover{
    cursor: pointer;
}

/* Style the equipment image */
.equipment-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .equipment-item {
        flex-basis: calc(100% - 20px);
    }
    .burger-menu {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #444;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        z-index: 1;
    }
    .nav-links a {
        padding: 10px;
        border-top: 1px solid #555;
        color: white;
        background-color: #444;
    }

}

.parallax-subtitle p, .parallax-subtitle ul, .parallax-subtitle ol {
    margin: 20px 0;
}
.parallax {
    background-image: url('parallax-img.jpg');
    box-shadow: 0 4px 6px rgba(33, 33, 33, 0.4); /* Add shadow to navbar */
    height: 25vh;
    width: 100%;
    opacity: 75%;

    color: #F9EAE1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.parallax-subtitle{
    margin: 10px;
    padding: 15px 10px 10px;
    font-size: 18px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 6px rgba(33, 33, 33, 0.2); /* Add shadow to navbar */

}
#searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
}

/* Стилі для мітки "Search" */
label {
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}